<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="root"></div>

<!--<script src="babel.min.js"></script>-->
<script src="react.js"></script>
<script src="ReactDOM.js"></script>

<script>

  console.clear();
  const root = document.querySelector('#root');

  function App() {
    const [myName, setMyName] = React.useState('Dima');
    const [age, setMyAge] = React.useState(23);

    const memCb = React.useCallback(() => {
      console.log('useCallback console');
    }, [myName, age])

    React.useEffect(()=>{
      console.log('UseEffect console');
    },[myName, age]);

    React.useLayoutEffect(()=>{
      console.log('useLayoutEffect console');
    },[myName, age]);

    function handleClick(){
      setMyName('Bulat');
    }

    const el = React.createElement('p', {onClick: handleClick }, myName);
    return el;
  }

  const noBabelApp = React.createElement(App, null);

  const x = ReactDOM.render(noBabelApp, root);

  console.log(`FINISH`);

</script>

</body>
</html>
